* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

#row {
  float: left;
}

.card {
  margin: 20px;
}

/* register.html */
.sign {
  background: linear-gradient(
    180deg,
    rgba(47, 168, 152, 0.66) 0%,
    rgba(186, 48, 204, 0.429) 100%
  );
  height: 100vh;
}

/* .login.html */
.login {
  background: linear-gradient(
    180deg,
    rgba(47, 168, 152, 0.66) 0%,
    rgba(186, 48, 204, 0.429) 100%
  );
  height: 100vh;
}
/* navbar.html */
#navbar {
  height: 80px;
  background-color: rgb(1, 31, 28);
}

.items {
  padding-top: 20px;
}

.item {
  padding: 60px;
  margin-top: 10px;
  font-size: 25px;
  color: rgb(129, 230, 216);
}
/* home.html */
.home {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 150vh;
  /* margin-bottom: -40px; */
  padding: 100px;
  margin: 0;
}
.design {
  margin-top: -800px;
  margin-left: 800px;
}

.text {
  font-size: 60px;
  margin-top: -100px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}
/* blogs.html */
.blog {
  height: 50vh;
  float: left;
  justify-content: space-around;
  background: linear-gradient(
    180deg,
    rgba(47, 168, 152, 0.66) 0%,
    rgba(186, 48, 204, 0.429) 100%
  );
}

/* writer.html */
.write {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px;
  margin: auto;
  font-size: 30px;
  align-self: center;

  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(47, 168, 152, 0.66) 0%,
    rgba(186, 48, 204, 0.429) 100%
  );
}
.blogbtn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 40px;
}
.writer01 {
  background: linear-gradient(
    180deg,
    rgba(47, 168, 152, 0.66) 0%,
    rgba(186, 48, 204, 0.429) 100%
  );
  height: 100vh;
}

/* .col-md p-5 {
  padding-top: 50%;
  padding-bottom: 50%;
} */
.lead {
  margin-bottom: 430px;
}
.design3 {
  margin-top: -250px;
}
#click {
  margin-top: -250px !important;
  /* margin-bottom:-40px !important; */
}
.kitu2 {
  margin-top: -150px;
  margin-left: 650px;
  /* margin-bottom: -40px !important; */
}
/* .card-body{
  margin-left: 150px !important;
} */
.api {
  margin-left: 150px;
  margin-top: -650px;
  height: 35vh;
  background: linear-gradient(
    180deg,
    rgba(47, 168, 152, 0.66) 0%,
    rgba(186, 48, 204, 0.429) 100%
  );
  width:35%;
  border-radius: 50px;
}
.api h4 {
  font-size: xx-large;
  font-weight: 1000px;
  color: coral;

  text-align: justify;
}

.justcomment {
  background-color: rgb(196, 235, 233);
  margin-left: 150px;
  width: 30%;
  margin-top: 40px;
  height:40vh;
  border-radius: 30px;
}
.whole {
  background: linear-gradient(
    180deg,
    rgba(47, 168, 152, 0.66) 0%,
    rgba(186, 48, 204, 0.429) 100%
  );
  margin: 0px;
  padding: 100px;
  
}
.trial{
  background-color: aquamarine;
  width: 20%;
  height: 40vh;
  margin-top: 40px;
  border-radius: 70px;
}

